.confirma {
    background: var(--background-color);
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.confirma button {
    padding: 15px;
    border-radius: 25px;
    border: none;
    box-shadow: 0 1px 3px 1px #0003;
    transition: all 500ms;
    background: var(--color-5);
    color: #ffffff;
    cursor: pointer;
    width: 260px;
    font-size: 20px;
}

.confirma button:hover {
    background-color: #688568;
    transform: scale(1.15);
    filter: drop-shadow(1px 3px 0px black);
}