.content-galeria{
    width: 100%;
    background-color: #beccba;
}
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    max-width: 800px;
    margin: 20px auto;
}

.galeria img {
    width: 100%;
    height: auto;
    display: block;
}