.content-colum{
    box-sizing: border-box;
    background-color: var(--color-5);
    padding: 25% 10px 15%;
}
.galeria-colum {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.galeria-colum img {
    width: 30%;
}

.content-colum h3{
    width: 100%;
    text-align: center;
    font-size: 22px;
    margin: 0;
    padding-bottom: 20px;
}