.content-colum{
    box-sizing: border-box;
    background-color: #beccba;
    padding: 80px 10px;
}
.galeria-colum {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.galeria-colum img {
    width: 30%;
}